.editor {
    background: #fff;
    padding: 15px;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.tag-node {
    background-color: rgba(255, 238, 82, 0.479)
}

.pop {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.pop-content {}


/* .pop-tri {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f00;
} */

.popover {
    z-index: 10;
    position: absolute;
    transform-origin: bottom center;
    width: 150px;
    height: 50px;
    background-color: pink;
    transform: scale(1, 1);
    /* width: */
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.AppName {
    text-align: center;
    margin: 50px auto;
    font-size: 32px;
    /* text-transform: uppercase; */
    font-family: 'Fredoka One', cursive;
    width: 270px;
    background-color: #FC8A75;
    box-shadow: 0 0 0 0.75pt #1E9AA6, 0 0 3pt 0.75pt #1E9AA6;
    color: #F5CC69;
    height: 50px;
    line-height: 50px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.junto-tag {
    background-color: rgb(181, 255, 216);
    font-size: 12px;
    text-align: center;
    width: 5.95ch;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    /* margin-right: 3px; */
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

.junto-other-tag {
    background-color: #eafff4;
}

html,
body {
    background-color: #42A4AA;
}

.editor {
    text-align: left;
    /* cursor: text; */
    background-color: rgb(255, 255, 255);
    width: 716px;
    height: 1056px;
    margin: 50px auto;
    cursor: text;
    overflow: hidden;
    position: relative;
    white-space: normal;
    box-shadow: 0 0 0 0.75pt #1E9AA6, 0 0 3pt 0.75pt #1E9AA6;
    padding: 75px 70px 75px 70px;
    outline: none;
}